RAG Chatbot Workflow.json
{
  "name": "RAG AGENT",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -368,
        -16
      ],
      "id": "1aeaf0d7-eccc-477f-bad0-6e462ecab6ed",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DsR76EMVs8BP8edB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1chWsHzNFGXMueKKSb9XWpnwLMCor6rvJ",
          "mode": "list",
          "cachedResultName": "n8n pdf's",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1chWsHzNFGXMueKKSb9XWpnwLMCor6rvJ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        -80
      ],
      "id": "48befbb9-0ec3-4d85-9357-86b89a74e2af",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DsR76EMVs8BP8edB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -96,
        32
      ],
      "id": "97bb6020-388c-4667-9464-a9b5153852e8",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "hBPGTWmLFUeYcvWD",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        288
      ],
      "id": "c4cf47fc-a3fc-4cbd-b210-c3b70ef0db43",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "B97EDW1OBpl6P2fD",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        64,
        288
      ],
      "id": "d28d686d-188a-46cd-86f4-b2fe28fc026f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -112,
        480
      ],
      "id": "df841af8-57ac-488d-9b3e-622a79917878",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        368,
        -80
      ],
      "id": "e352da94-4353-4389-b021-7b6e7356dea5",
      "name": "When chat message received",
      "webhookId": "9a77ad5c-4b16-4c27-b8b4-500eb1d0c2aa"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        672,
        -16
      ],
      "id": "1f3662bb-1997-4ba6-bd75-df275ab01b31",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        512,
        208
      ],
      "id": "ab0d7e9e-bf9f-4b4e-b030-e638d688c21e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "B97EDW1OBpl6P2fD",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access the pinecone database",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        944,
        240
      ],
      "id": "b4484244-42c5-4be2-9ce3-4c90a1d66315",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "hBPGTWmLFUeYcvWD",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1136,
        464
      ],
      "id": "d6e7dc86-c634-4dac-8082-ba04381e87dc",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "B97EDW1OBpl6P2fD",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Upload file": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b5074dc2-a25a-4f26-844f-cde8acd73da4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "57779dd05dd21e0cd2d44832495844d92f5a212af09f123a90b3b355f872176e"
  },
  "id": "n0XBYGt9RjRDqydd",
  "tags": []
}