Telegram event booking.json
{
  "name": "Telegram event booking",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -384,
        -48
      ],
      "id": "d4b6b42f-f70b-4267-ac1f-59949e9a95a9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -608,
        224
      ],
      "id": "e7891bae-1e52-48ca-8026-d1ee80befe70",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "a8MxqxsEEzcZ24CA",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={$json.message.text{ $json.message.text }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -256,
        272
      ],
      "id": "c12b5ba6-45f5-480d-ab5f-06b5af130719",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "narayanamprakash@gmail.com",
          "mode": "list",
          "cachedResultName": "narayanamprakash@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        192,
        240
      ],
      "id": "6d674a36-97db-4765-abd3-9950f2074eff",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "z5svdoFRUVSE5C3E",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -768,
        -96
      ],
      "id": "ffe2ad78-2fde-4c92-9dc0-100260b2d60a",
      "name": "Telegram Trigger",
      "webhookId": "fd94104a-234c-4183-9aaf-78d6d79b3d55",
      "credentials": {
        "telegramApi": {
          "id": "JeC5sYGd2Vx9iyvP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        -80
      ],
      "id": "074f0e26-3404-4bae-9376-4a05f6ea82e0",
      "name": "Send a text message",
      "webhookId": "12e4fa80-d2a9-4402-bad9-68c6b8157be6",
      "credentials": {
        "telegramApi": {
          "id": "JeC5sYGd2Vx9iyvP",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "20e45590-7cf1-4e1f-b767-13d73637a400",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "57779dd05dd21e0cd2d44832495844d92f5a212af09f123a90b3b355f872176e"
  },
  "id": "6l1pMIom2lNky2FD",
  "tags": []
}